MYSQL_HOST=db.isba.co
MYSQL_PORT=3306
MYSQL_DB=basket_craft
MYSQL_USER=analyst
MYSQL_PASSWORD=your_password_here

PG_HOST=localhost
PG_PORT=5432
PG_DB=basket_craft
PG_USER=postgres
PG_PASSWORD=postgres
